@import "tailwindcss";

@theme {
  --color-primary: #22718F;
  --color-navy: #1D3A5A;
  --color-teal: #568F8E;
  --color-gold: #BEA056;
  --color-lightGold: #DBC785;
}

body{
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


